body{
    background-color: blueviolet;
}
.container{
    background-color:darkblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-left: 500px;
    margin-top: 50px;
    font-size: 25px;
    /* padding: 150px; */
}
legend{
    background-color: blue;
    width: 100px;
}
#task2,#task3{
    text-transform: line-through;
    color: black;
}
@media only screen and (max-width:768px) {
    .container{
        margin-top: 50px;
        margin-left: 50px;
    }
}